<div class="row">
<% data.rowOne.forEach(function(item) { %>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="<%= item.imgSrc %>" />
    </a>

    <h5><%= item.clientName %></h5>
    <p><%= item.role %></p>
  </div>
<% }) %>
</div>

<div class="row">
<% data.rowTwo.forEach(function(item) { %>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="<%= item.imgSrc %>" />
    </a>

    <h5><%= item.clientName %></h5>
    <p><%= item.role %></p>
  </div>
<% }) %>
</div>

<div class="row">
<% data.rowThree.forEach(function(item) { %>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="<%= item.imgSrc %>" />
    </a>

    <h5><%= item.clientName %></h5>
    <p><%= item.role %></p>
  </div>
<% }) %>
</div>

<!-- Pagination -->
<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
      <li>
        <a href="#">&laquo;</a>
      </li>
      <li class="active">
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">5</a>
      </li>
      <li>
        <a href="#">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
<!-- /.row -->
